

.chatInput{
    flex:10%;
  width:100%;
  display: flex;
  flex-direction: row;
} 

.chatInput textarea{
    flex:80%;
    font-size: 20px;
    font-weight: bold;
    color: indigo;
    border: 3px solid indigo;

}
.chatInput textarea:focus{
    border: 2px solid indigo;

}

.chatInput button{
    flex:20%;
     background-color: indigo;
    color: gainsboro;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;

}
